<div class="container">
  <h1>Create new account</h1>
  <p>Already a Member? <a href="" [routerLink]="['/login']">Log In</a></p>
  <form class="inputs">
    <div>
      <span class="p-input-icon-right p-float-label">
        <i class="pi pi-id-card"></i>
        <input
          type="text"
          name="username"
          pInputText
          [ngClass]="{
            'ng-invalid ng-dirty': inputsData.get('username')!.hasError
          }"
          [(ngModel)]="inputsData.get('username')!.value"
          (focus)="inputsData.get('username')!.hasError = false"
          (blur)="checkInput('username')"
        />
        <label for="float-input">Username</label>
      </span>
      <small
        *ngIf="inputsData.get('username')!.hasError"
        class="p-error block"
        >{{ inputsData.get("username")!.actualError }}</small
      >
    </div>
    <div>
      <span class="p-input-icon-right p-float-label">
        <i class="pi pi-envelope"></i>
        <input
          type="text"
          name="email"
          pInputText
          [ngClass]="{
            'ng-invalid ng-dirty': inputsData.get('email')!.hasError
          }"
          [(ngModel)]="inputsData.get('email')!.value"
          (focus)="inputsData.get('email')!.hasError = false"
          (blur)="checkInput('email')"
        />
        <label for="float-input">Email</label>
      </span>
      <small *ngIf="inputsData.get('email')!.hasError" class="p-error block">{{
        inputsData.get("email")!.actualError
      }}</small>
    </div>
    <div>
      <p-password
        class="w-100"
        name="password"
        placeholder="Password"
        [(ngModel)]="inputsData.get('password')!.value"
        [toggleMask]="true"
        (onFocus)="inputsData.get('password')!.hasError = false"
        (onBlur)="checkInput('password')"
        [ngClass]="{
          'ng-invalid ng-dirty': inputsData.get('password')!.hasError
        }"
      ></p-password>
      <small
        *ngIf="inputsData.get('password')!.hasError"
        class="p-error block"
        >{{ inputsData.get("password")!.actualError }}</small
      >
    </div>

    <div>
      <p-password
        class="w-100"
        name="confirmPassword"
        placeholder="Confirm Password"
        [(ngModel)]="inputsData.get('confirm')!.value"
        [toggleMask]="true"
        (onFocus)="inputsData.get('confirm')!.hasError = false"
        (onBlur)="checkInput('confirm')"
        [ngClass]="{
          'ng-invalid ng-dirty': inputsData.get('confirm')!.hasError
        }"
      ></p-password>
      <small
        *ngIf="inputsData.get('confirm')!.hasError"
        class="p-error block"
        >{{ inputsData.get("confirm")!.actualError }}</small
      >
    </div>
    <div>
      <button
        pButton
        pRipple
        type="button"
        label="Sign Up"
        class="p-button-rounded"
        [disabled]="!isValid()"
        (click)="submit()"
      ></button>
    </div>
    <div>
      <p class="terms">
        By clicking the button you are accepting the
        <a href="" [routerLink]="['/terms']"> Terms And Conditions</a>
      </p>
    </div>
  </form>
</div>
